.main {
  @apply relative flex min-h-screen flex-col items-center justify-between bg-[#191919] text-[#a9a9a9];
}

.introduction--container {
  @apply relative flex w-full;
  height: calc(2000px + 100vh);
  height: calc(2000px + 100dvh);
}

.socials-container {
  @apply mx-auto grid w-fit grid-flow-col justify-items-center gap-3 border-t border-[#191919] pt-2;
}

.socials-container > a > svg {
  @apply text-[1.25rem];
}

.socials-container > a {
  @apply opacity-100 transition-opacity duration-300;
}

.btn-scroll {
  @apply absolute left-1/2 top-[59%] z-50 grid -translate-x-1/2 -translate-y-1/2 select-none justify-items-center gap-2 text-center transition-opacity duration-500;
}

.model-canvas {
  @apply left-0 top-0 w-full opacity-100 transition-opacity duration-1000;
  pointer-events: none !important;
  position: absolute !important;
  height: 100vh !important;
  height: 100dvh !important;
}

.marquee-text {
  @apply font-bold tracking-[-0.05em] text-white;
  font-size: 200vh;
  font-size: 200dvh;

  @supports not (-webkit-touch-callout: none) {
    @apply mt-[-15dvh];
  }
  & > span:nth-child(odd) {
    @apply text-[#585858];
  }
}

.video-section {
  @apply pointer-events-none top-0 left-0 sticky grid h-[calc(100dvh)] w-full place-items-center text-4xl opacity-100;
}

.video {
  @apply pointer-events-none relative  h-full w-full object-cover transition-opacity duration-500;
}



.proxy-last-section {
  @apply h-[6.25rem] w-full opacity-0;
}

.main-section {
  @apply pointer-events-none invisible z-40 w-full bg-[#191919] text-[#191919] opacity-0 transition-opacity duration-500;
  height: 100vh;
  height: 100dvh;
}

.main-section__wrapper {
  @apply relative h-full max-h-full w-full overflow-y-auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb:hover {
    background-color: gray;
  }
}

.details-container {
  @apply relative block w-full bg-[#191919];
  // min-height: 100vh;
  // min-height: 100dvh;
}

.logo {
  @apply select-none font-earthOrbiter text-5xl tracking-widest;
}

.content {
  @apply mx-auto w-full;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.content-wrapper {
  @apply block;
}
